assignment_6_file_processing/src/main/mule/assignment_6_file_processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="943fbec8-b271-4b27-a156-2d574400200d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="training" />
	</db:config>
	<flow name="assignment_6_file_processingFlow" doc:id="0986e264-80d5-46db-837a-18ec265ffab6" >
		<file:listener doc:name="On New or Updated File" doc:id="bdbb8b01-9dfb-447b-9a7f-1b72692d9524" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="14f6c10f-f613-4501-9115-922be8d31cc3" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ebdbfcdc-c59e-4dfb-b6d9-e0a84bc5d0b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	name: $.name,
	id: $.Emp_ID,
	designation: $.desigmation,
	email: $.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="acf9e3ae-46f3-45f5-9711-e2db02336f1c" >
			<logger level="INFO" doc:name="Logger" doc:id="29e220a2-21ca-4c88-85c8-7a0a8eb7030e" />
			<db:insert doc:name="Insert" doc:id="69563044-64a3-4c4f-bf57-471dec3160bc" config-ref="Database_Config">
				<db:sql >insert into employee(Emp_id, name, email, desigmation) values(:id,:name,:email,:designation)</db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="43171fe2-e5e0-4bad-ab62-8d5492a9a28b" />
	</flow>
</mule>
